h1 {
    size: 20px;
    text-align: center;
    color: #b0c4de;
}
Body {
    text-align: center;
    background-color:  white;
    font-family: monospace;
    font-size: 37px;
    text-decoration-style: solid;
}
