<!DOCTYPE html>
<html>
<head>
    <title>Cook It - Discover Recipes</title>
</head>
<body>
    <h1>Welcome to Cook It!</h1>

        <p style="color: #d87cfd;">Write down the ingredients you have and we will help you find a recipe!</p>
    <form action="/search" method="POST">
        <label for="ingredients">Enter ingredients (comma-separated):</label>
        <input type="text" id="ingredients" name="ingredients" placeholder="e.g. tomato, cheese">
        <button type="submit">Search</button>
    </form>
</body>
</html>
