<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css"/>
    <title> Recipe APP </title>
</head>
<body>
    <h1>Welcome to Cook it!</h1>
    <form method="POST" action = "/">
        <label for="ingredients">Enter ingredients (comma-separated):</label><br>
        <input type="text" id="ingredients" name="ingredients" placeholder="e.g. tomato, cheese">
        <p> <input type="submit" value = "SUBMIT"></p>
    </form>

    # Checking if the recipes are available
    {%  if recipes %}
    <h2> Results for "{{  search_query }}" </h2>
    <ul>
        {%  for recipe in recipes %}
        <li>
            <h3> class = "recipe-title">{{  recipe.title }}</h3>
            {% if recipe.image %}
            <img> src = '{{ recipe.image }}" alt = "{{  recipe.title }}">
            {%  endif %}
        <a href = "{{  url_for('view_recipe', recipe) }}"></a>
        </li>
    </ul>
</body>
</html>
